    .footer {
    background-color: #293358;
    color: white;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 10rem;
  }
  
  .footer .box-container .box h3 {
    margin: 10px;
    color: var(--white);
    font-size: 1.5rem;
    display: block;
  }
  
  .footer .box-container .box a {
    color: var(--light-white);
    font-size: 1.5rem;
    display: block;
  }
  
  .footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    padding-bottom: 10px;
    transition: .2s linear;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .home-right {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
  }
  
  .footer .home-right span{
    color: var(--color-accent);
  }
  